nav {
    background-color: rgba(0, 0, 0, 0.719);
    height: 80px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem calc((100vw - 1000px)/2);
    z-index: 10;
}

.nav-link {
    color: #fff;
    font-size: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
    cursor: pointer;
}

.nav-link :hover{
    color: white;
}

.navmenu {
    display: flex;
    align-items: center;
    margin-right: -24px;
}

.navmenu .nav-link {
    color:white
}